html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    margin-bottom: 5vh;
    background-color: ;
}


#fs-frm {
    width: 75vw;
    border: 3px solid black;
    padding: 15px;
}

form input,
form select,
form fieldset,
form optgroup,
form label {
    font-family: inherit;
    font-size: 100%;
    color: inherit;
    border: none;
    display: block;
}

form label,
form legend {
    font-size: 0.825rem;
    margin-bottom: 0.5rem;
}

form input,
form select,
form textarea {
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0.75em 1rem;
    margin-bottom: 1.5rem;
}

#message {
    min-height: 100px;
}